<div class="container">
<h2>アイライナー</h2>
  <% @eyeliner.each do |e| %>
    <div>
      <%= link_to e.name, cosmetic_path(e.id)  %>
      <%= e.brand %>
      <%= e.color %>
    </div>
  <% end %>
</div>