 <div class="container">
    <div class="row">
        <div class="col-10">
          <div class="badge badge-light">コメントの編集</div>
          <%= form_with model: @comment, url: cosmetic_review_comment_path(@comment.id) do |f| %>
          <%= f.text_area :comment %>
          <%= f.submit '変更を保存', class:"btn btn-primary" %>
          <%= link_to "削除する", cosmetic_review_comment_path(@comment.id), method: :delete, class:"btn btn-danger" %>
          <% end %>
        </div>
    </div>
 </div>