<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>肌タイプ編集</h3>
      <%= form_with model: @skin_type,url:admin_skin_type_path(@skin_type.id) do |f| %>
        <div class="row">
          <div class="item col-2" style="margin-top: 30px; font-size:15px;">肌タイプ名</div>
          <div class="item col-2" style="margin-top: 30px; margin-left:100px; font-size:15px;"><%= f.text_field :type_name %></div>
          <div class="item col-2" style="margin-top: 30px; margin-left: 10px;"><%= f.submit '保存', class:"btn btn-primary" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>