     <div class="text-center">
       <h3>COSMEnavi</h3>
     <div class="p-2"><%= link_to new_user_registration_path do %>新規登録
      <% end %></div>
       <div class="p-2"><%= link_to  new_user_session_path do %>ログイン
      <% end %></div>
      <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "login" %>
      </div>