<div class="text">
  <div class="image"><%= image_tag 'logo.png', size: "400x200" %></div>
    <div class="text01">
      <div class="signup">
        <%= link_to new_user_registration_path, class: "btn btn--blue btn--circle btn--circle-a btn--shadow" do %>新規登録
        <% end %>
      </div>
      <div class="signup">
        <%= link_to  new_user_session_path, class: "btn btn--white btn--circle btn--circle-a btn--shadow" do %>ログイン
        <% end %>
      </div>
      <div class="signup">
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "login btn btn--navy btn--circle btn--circle-a btn--shadow" %>
      </div>
    </div>
</div>