  <h2>検索結果 "<%= @keyword %>"</h2>
              <ul>
                <% @cosmetics.each do |cosmetic| %>
                   <%= cosmetic.brand %>
                   <%= cosmetic.name %>
                   <%= cosmetic.color %>

                <% end %>
              </ul>