 <div class="container">
  <div class="row">
    <div class="col-12">
        <div class="badge badge-light">レビューを投稿する</div>
      <div class="text-center">
          
        <%= form_with model: @review, url:cosmetics_path do |f| %>
        <%= f.text_area :review %>
        <%= f.submit '投稿', class:"btn btn-primary" %>
        <% end %>
        </div>
        </div>
        </div>