
a.btn--blue {
  color: #fff;
  background-color: #001FFF;
}

a.btn--blue:hover {
  color: #fff;
  background: #0018C7;
}

a.btn--white {
  color: #fff;
  background-color: #008DFF;
}

a.btn--white:hover {
  color: #fff;
  background: #51B2FF;
}

a.btn--navy {
  color: #fff;
  background-color: #0014A8;
}

a.btn--navy:hover {
  color: #fff;
  background: #000F78;
}

a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

a.btn--circle {
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
}

/*topの丸*/
.image {
  display:flex;
justify-content: center;
}
.text01 {
  display:flex;
justify-content: center;
}
.signup {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/*ヘッダー*/
.top {
  text-decoration: none;
  color: black;
}
.top:hover {
  text-decoration: none;
  color: #787878;
}