/*ページのタイトル*/
h2 {
  position: relative;
  padding: 0 65px;
  text-align: center;
  font-size:2em;
	line-height:0.95em;
	font-weight:bold;
	color: #BEE2FF;
	text-shadow: 0.03em 0.03em 0.03em rgba(0,0,0,1);
}

h2:before {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: black;
}

h2 span {
  position: relative;
  padding: 0 1em;
  background: #fff;
}
/*全ての化粧品タイトル*/
h4 {
  position: relative;
  padding: 0 65px;
  text-align: center;
  font-size:2em;
	line-height:0.95em;
	font-weight:bold;
	color: #8ECCFF;
	text-shadow: 0.02em 0.02em 0.02em rgba(0,0,0,1);
}
/*マイプロフィール*/
.border-solid {
     line-height: 30px;
     text-align: center;
     position:relative;
     padding:30px;
     border:8px solid navy;
     border-radius: 10px;
}
.border-solid::after{
     content: "My Profile";
     position: absolute;
     top: -15px;
     left: 13px;
     background: #fff;
     font-size:2em;
     font-weight: bold;
     color: navy;
     padding: 0 8px;
}
.user {
  font-size: 0.9vw;
  padding-bottom: 20px;
}

/*ヘッダー*/
body {
  padding: 30px;
}

.btn2,
button.btn2 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;
  background: #fff;
}

.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #000;
  border-radius: 0.5rem;
}

.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

.btn-border-shadow--color {
  border-radius: 0;
  background: #51B2FF;
}

.btn-border-shadow--color:before {
  border-radius: 0;
}

.btn3,
button.btn3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-border {
  border: 3px solid #000;
  border-radius: 0;
  background: #fff;
}

.btn-border:before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #000;
}

.btn-border:hover:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.btn2--circle {
  color: #fff;
  background-color: #51B2FF;
  font-size: 1.6rem;
}

.btn2--circle:hover {
  color: #fff;
  background: #008DFF;
}

.btn2--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.btn2--circle {
  border-radius: 50%;
  line-height: 100px;
  width: 30px;
  height: 30px;
  padding: 0;
}

/*マイページのタイトル*/
.title {
  font-size: 1.5vw;
  border-bottom: 5px solid navy;
  position: relative;
}
.title:before {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 20%;
  height: 5px;
  content: '';
  background: #51B2FF;
}

.cosme {
  font-size: 1vw;
  padding-bottom: 10px;
  padding-top: 10px;
}

/*グレーのリンク*/
.link:hover {
  text-decoration: none;
  color: #787878;
}

.link {
  text-decoration: none;
  color: black;
}

/*ヘッダーのボタン*/
a.btn--header {
  color: #fff;
  background-color: #008DFF;
  border-bottom: 5px solid #0067BB;
}
a.btn--header:hover {
  margin-top: 3px;
  color: #fff;
  background: #2397F4;
  border-bottom: 2px solid #0067BB;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}