<div class="text-center">
  <h4>本当に退会しますか？</h4>
    退会する場合は、「退会する」をクリックしてください。
</div>
<div class="text-center">
  
  <div class="new01"><%= link_to "退会しない", my_page_path, class:"btn btn-primary" %>
    <%= link_to "退会する", out_path, method: :patch, data: { confirm: '退会しますか？' }, class:"btn btn-danger" %>
  </div>
</div>
